<form class="form-horizontal">
    Foo
    <div class="control-group">
        <label class="control-label" for="settings-ha-url">{{ _('Home Assistant URL') }}</label>
        <div class="controls">
            <input type="text" id="settings-ha-url" name="ha_url" data-bind="value: settings.plugins.ha_thermometer_graph.ha_url" class="input-block-level">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-ha-token">{{ _('Long-Lived Access Token') }}</label>
        <div class="controls">
            <input type="password" id="settings-ha-token" name="ha_token" data-bind="value: settings.plugins.ha_thermometer_graph.ha_token" class="input-block-level">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-sensor-entity-id">{{ _('Sensor Entity ID') }}</label>
        <div class="controls">
            <input type="text" id="settings-sensor-entity-id" name="sensor_entity_id" data-bind="value: settings.plugins.ha_thermometer_graph.sensor_entity_id" class="input-block-level">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="settings-sensor-label">{{ _('Sensor Label') }}</label>
        <div class="controls">
            <input type="text" id="settings-sensor-label" name="sensor_label" data-bind="value: settings.plugins.ha_thermometer_graph.sensor_label" class="input-block-level">
        </div>
    </div>
</form>
